<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="ClothEntities" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Cloth;Data Source=zia-pc" />-->
    <add name="ClothEntities" connectionString="metadata=res://*/EcommerceDAL.csdl|res://*/EcommerceDAL.ssdl|res://*/EcommerceDAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMIGO\AMIGO;initial catalog=LahoreCloth;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>